body {
  font-family: monospace;
  color: white;
  background: #333;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

#game {
  padding: 5px;
}